.cartList {
    min-width: 766px;
    max-width: 1500px;
    flex-grow: 1;
    margin-right: 50px;

    h2 {
        font-size: 2.6rem;
        font-weight: 600;
        text-align: left;
        margin: 50px 0 35px;
    }

    h3 {
        font-size: 2rem;
        margin-top: 100px;
        text-align: left;
    }
}