.itemContainer {
    overflow: hidden;
    margin: 20px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 150px;
    width: 150px;
    min-height: 250px;
    height: 250px;
    user-select: none;
    transition: ease-out 200ms;

    &:hover {
        box-shadow: (0px 4px 35px rgba(168, 172, 176, 0.25));
    }

    .imageContainer {
        background-color: var(--c-light-variant);
        width: 140px;
        min-height: 170px;
        height: 170px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        filter: brightness(0.975);

        img {
            object-fit: contain;
            width: inherit;
            height: inherit;
        }
    }

    .itemContainerBottom {
        margin-top: 15px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
            text-align: left;
            font-size: 1.2rem;
            overflow: hidden;
            white-space: nowrap;
        }

        h4 {
            text-align: left;
            font-size: 1.3rem;
            font-weight: 500;
        }
    }

    @media (min-width:768px) {
        min-width: 256px;
        width: 256px;
        min-height: 447px;
        height: 447px;

        .imageContainer {
            width: 224px;
            min-height: 330px;
            height: 330px;
        }

        .itemContainerBottom {
            h3 {
                font-size: 1.8rem;
            }

            h4 {
                font-size: 1.8rem;
            }
        }
    }
}