.bubbleLoader {
    align-self: center;
    margin-top: 40px;
}

.itemDetailContainer {
    min-height: 900px;
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
    flex-direction: column;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
    }

    .productGallery {
        width: 100%;

        @media (min-width: 768px) {
            width: 35%;

            img {
                width: 100%;
            }
        }

        img {
            width: 80%;
            height: inherit;
            object-fit: contain;
        }
    }

    .product {
        display: flex;
        flex-direction: column;
        width: calc(100% - 40px);
        margin: 20px;

        @media (min-width: 768px) {
            width: 60%;
            margin: 0;
        }

        @media (min-width: 1024px) {
            width: 45%;
        }

        .productInfo {
            h2 {
                text-align: left;
                font-size: 2.6rem;
                font-weight: 600;
                margin-bottom: 16px;
            }

            .productPriceRateInline {
                min-height: 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 32px;

                h3 {
                    font-size: 1.8rem;
                    font-weight: 500;
                }
            }

            p {
                font-size: 1.6rem;
                text-align: left;
            }
        }

        .productCartData {
            .selectContainer {
                position: relative;

                select {
                    background: none;
                    width: 100%;
                    min-height: 30px;
                    margin: 40px 0;
                    border-bottom: 1px solid var(--c-light);
                    cursor: pointer;

                    option {
                        text-align: left;
                    }
                }

                .selectExpandIcon {
                    position: absolute;
                    top: 50%;
                    transform: translate(0, -50%);
                    right: 10px;
                    z-index: -1;
                }
            }

        }
    }

}