.itemListContainer {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .itemListTitle {
        font-size: 42px;
        margin-bottom: 80px;
    }

    .itemList {
        width: calc(100% - 100px);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}